/* display */
/* list-style */
/* position */
.remark-slide-content .blockquote {
    position: relative;
}
.remark-slide-content .blockquote::before {
    position: absolute;
    top: -.3em; left: 0rem;
}
.remark-slide-content .blockquote::after {
    position: absolute;
    bottom: -.6em; right: 0rem;
}
/* float */
/* clear */
/* width */
/* height */
/* margin */
.remark-slide-content .blockquote {
    margin: 1em 0rem;
}
/* padding */
.remark-slide-content .blockquote {
    padding: 0em 1.5rem;
}
/* border */
/* background */
.remark-slide-content .blockquote {
    background: var(--color-front);
}
/* color */
/* font */
.remark-slide-content .blockquote::before,
.remark-slide-content .blockquote::after {
    font-family: "Noto Serif";
    font-size: 2em;
 }
/* text-decoration */
/* text-align */
/* vertical-align */
/* white-space */
/* other text */
/* content */
.remark-slide-content .blockquote::before {
    content: "\201C";
}
.remark-slide-content .blockquote::after {
    content: "\201D";
}
