.blockquote {
    position: relative;
    margin: 1em 0rem;
    padding: 0em 1.5em;
    background: var(--color-front);
}
/* position */
.blockquote::before {
    position: absolute;
    left: 0em;
    top: .15em;
}
.blockquote::after {
    position: absolute;
    right: 0em;
    bottom: -.5em;
}
/* text */
.blockquote::before,
.blockquote::after {
    font-family: serif;
    font-size: 2em;
}
.blockquote::before {
    content: "\201C";
}
.blockquote::after {
    content: "\201D";
}
