/* alignment */
.remark-slide-content.common .caption,
.remark-slide-content.common .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.remark-slide-content.common .group {
    display: inline-block;
}
.remark-slide-content.common .emptyline {
    display: block;
}

/* layout */
.remark-slide-content.common .caption {
    height: 3rem;
    padding-left: 1rem;
}
.remark-slide-content.common .content {
    height: 15rem;
    margin: 0 1rem;
}
.remark-slide-content.common .emptyline {
    height: 1rem;
}

/* font */
.remark-slide-content.common .caption {
    font-size: 1.5rem;
    font-weight: bold;
}

/* color */
.remark-slide-content.common .caption {
    color: var(--color-back);
    background: var(--color-main);
}

/* decoration */
.remark-slide-content.common .line-number {
    counter-reset: line;
}
.remark-slide-content.common .line-number .remark-code-line {
    counter-increment: line;
}
.remark-slide-content.common .line-number .remark-code-line::before {
    content: "L" counter(line, decimal-leading-zero);
    border-right: 1px solid;
    padding-right: 0.3em;
    margin-right: 0.3em;
}
