/* margin */
.remark-slide-content.default > h1 {
    margin: 0em -1rem;
}
.remark-slide-content.default > h2 {
    margin: .5em 0em;
}
/* padding */
.remark-slide-content.default {
    padding: 0em 1rem;
}
.remark-slide-content.default > h1 {
    padding: .25em 1rem;
}
/* color */
.remark-slide-content.default > h1 {
    background: var(--color-main);
    color: var(--color-base);
}
/* text */
.remark-slide-content.default > h1 {
    font-size: 60px;
}
.remark-slide-content.default > h2 {
    font-size: 40px;
}
.remark-slide-content.default > h3 {
    font-size: 40px;
    font-weight: normal;
}
