/* display */
/* list-style */
/* position */
/* float */
/* clear */
/* width */
/* height */
/* margin */
.remark-slide-content.default > h2 {
    margin: .5em 0rem;
}
/* padding */
/* border */
/* background */
/* color */
/* font */
.remark-slide-content.default > h2 {
    font-size: 1rem;
}
.remark-slide-content.default > h3 {
    font-size: 1rem;
    font-weight: normal;
}
/* text-decoration */
/* text-align */
/* vertical-align */
/* white-space */
/* other text */
/* content */
