/* display */
.remark-slide-content .underline {
    display: inline-block;
}
.remark-slide-content .underline:before {
    box-sizing: border-box;
}
/* list-style */
/* position */
.remark-slide-content .underline {
    position: relative;
}
.remark-slide-content .underline:before {
    position: absolute;
    left: 0px; right: 0px;
    bottom: 4px;
}
/* float */
/* clear */
/* width */
/* height */
.remark-slide-content .underline:before {
    height: 2px;
}
/* margin */
.remark-slide-content .less-margin > * {
    margin: .25em 0rem;
}
.remark-slide-content .no-margin > * {
    margin: 0em 0rem;
}
.remark-slide-content .oneline {
    margin: .5em 0rem;
}
.remark-slide-content .oneline > p {
    margin: 0em 0rem;
}
/* padding */
/* border */
/* background */
.remark-slide-content .underline:before {
    background: currentColor;
}
/* color */
/* font */
.remark-slide-content ruby > rt {
    font-size: .6em;
}
.remark-slide-content ruby {
    font-weight: bold;
}
/* text-decoration */
.remark-slide-content .underline {
    text-decoration: none;
}
/* text-align */
/* vertical-align */
/* white-space */
/* other text */
/* content */
.remark-slide-content .underline:before {
    content: "";
}
