/* alignment */
.remark-slide-content.title .caption,
.remark-slide-content.title .content,
.remark-slide-content.title div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* layout */
.remark-slide-content.title div div {
    width: 100%;
}
.remark-slide-content.title .caption,
.remark-slide-content.title .content {
    height: 9rem;
}
.remark-slide-content.title .title {
    height: 6rem;
}
.remark-slide-content.title .subtitle {
    height: 3rem;
}
.remark-slide-content.title .author {
    height: 4rem;
}
.remark-slide-content.title .place,
.remark-slide-content.title .date {
    height: 2rem;
}

/* font */
.remark-slide-content.title .caption {
    font-weight: bold;
}
.remark-slide-content.title .title {
    font-size: 2rem;
}
.remark-slide-content.title .subtitle,
.remark-slide-content.title .author {
    font-size: 1.2rem;
}

/* color */
.remark-slide-content.title .caption {
    color: var(--color-back);
    background: var(--color-main);
}
.remark-slide-content.title .subtitle {
    color: var(--color-text);
    background: var(--color-main-light);
}
