/* margin */
.remark-slide-content.title > h1,
.remark-slide-content.title > h2 {
    margin: 0em -2rem;
}
.remark-slide-content.title > h1 + h2 {
    margin-top: -1em;
}
/* padding */
.remark-slide-content.title {
    padding: 1rem 2rem;
}
.remark-slide-content.title > h1,
.remark-slide-content.title > h2 {
    padding: .5em 2rem;
}
/* color */
.remark-slide-content.title > h1,
.remark-slide-content.title > h2 {
    background: var(--color-front);
    color: var(--color-text);
}
/* text */
.remark-slide-content.title {
    vertical-align: middle;
    text-align: center;
}
.remark-slide-content.title > h1 {
    font-size: 60px;
}
.remark-slide-content.title > h2 {
    font-size: 50px;
}
.remark-slide-content.title > h3 {
    font-size: 40px;
    font-weight: normal;
}
