@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

/* font */
body {
    font-family: 'Noto Sans';
    font-weight: normal;
}
h1, h2, h3 {
    font-family: 'Noto Serif';
    font-weight: bold;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}
/* margin, padding */
.remark-slide-content {
    padding: 1em 2em;
}
pre {
    margin: 0.5em 0px;
}
h1, h2, h3, p, ul, ol {
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}
/* table */
table {
    margin-left: auto;
    margin-right: auto;
}
table, td, th {
    border: thin gray solid;
    border-collapse: collapse;
}
td, th {
    padding: 0.1em 0.4em;
}
table th {
    background-color: #cccccc;
}
/* highlight */
.hljs-googlecode .hljs {
    background: #F0F0F0;
}
/* placement */
.pull-left {
    display: block;
    float: left;
    width: 49%;
}
.pull-right {
    display: block;
    float: right;
    width: 49%;
}
img[alt="enter"] {
    float: right;
    width: 200px;
    height: 200px;
}
