@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
    font-family: 'Noto Sans';
    font-weight: normal;
}
h1, h2, h3 {
    font-family: 'Noto Serif';
    font-weight: bold;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
/* margin, padding */
.remark-slide-content {
    padding: 1em 2em;
}
pre {
    margin: 0.5em 0px;
}
h1, h2, h3, p, ul {
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}
.pull-left {
    float: left;
    width: 49%;
}
.pull-right {
    float: right;
    width: 49%;
}

img[alt="enter"] {
    float: right;
    width: 200px;
    height: 200px;
}
